<mat-toolbar class="list-filter-toolbar">
  <mat-toolbar-row fxFlex fxFill>
    <form action="" class="list-filter-form" [formGroup]="productFilterForm" (ngSubmit)="searchProducts()">
      <div [fxLayout]="'row wrap'" [fxLayout.xs]="'column'" [fxLayoutAlign]="'start center'" fxLayoutGap="10px">
        <div [fxLayout]="'row wrap'" fxLayoutAlign="start center" fxLayoutGap="20px">
          <mat-form-field fxFlex>
            <mat-label>Emri</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <button mat-stroked-button type="submit">
            <mat-icon>search</mat-icon>
            Kërko
          </button>
          <button class="clean-button" mat-stroked-button (click)="clearServiceFilters()">
            <mat-icon>cached</mat-icon>
            Pastro
          </button>

          <mat-slide-toggle (change)="toggleSaved($event)" >Kalo tek te ruajturat</mat-slide-toggle>

        </div>

      </div>

    </form>


  </mat-toolbar-row>

</mat-toolbar>


<div class="data-table">

  <table mat-table [dataSource]="productList" class="data-table" matSort
         matSortDisableClear #sortService="matSort"
         matSortDirection="desc">


    <ng-container matColumnDef="info">
      <th mat-header-cell *matHeaderCellDef>Informacion</th>
      <td mat-cell *matCellDef="let row">
        <a (click)="showInfo(row)" style="cursor: pointer">
          <mat-icon>info</mat-icon>
        </a>
      </td>
    </ng-container>


    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Imazhi</th>
      <td mat-cell *matCellDef="let row">
        <img src="{{row.image}}" alt="image">
      </td>
    </ng-container>


    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Titulli</th>
      <td mat-cell *matCellDef="let row">
        {{row.title}}
      </td>
    </ng-container>


    <ng-container matColumnDef="current_price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cmimi</th>
      <td mat-cell *matCellDef="let row">{{row.prices}}</td>
    </ng-container>


    <ng-container matColumnDef="stars">
      <th mat-header-cell *matHeaderCellDef>Vleresimi</th>
      <td mat-cell *matCellDef="let row">{{row.reviews}}</td>
    </ng-container>


    <ng-container matColumnDef="save">
      <th mat-header-cell *matHeaderCellDef>Ruaj</th>
      <td mat-cell *matCellDef="let row">
        <a (click)="saveProduct(row)" style="cursor: pointer" [class.saved-product]="row.is_saved">
          <mat-icon>save</mat-icon>
        </a>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="serviceDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: serviceDisplayedColumns;"></tr>
  </table>
</div>
<mat-paginator
  (page)="pageEvent = getProducts($event)"
  [length]="serviceResultsLength"
  [pageSize]="servicePageSize"
  #paginatorService></mat-paginator>
